.collapsibileList {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 24px;
}

.collapsibileListExercise {
  border-top: 1px solid rgb(54, 51, 51);
  border-bottom: 1px solid rgb(59, 53, 53);
  font-size: 20px;
}

.timerbutton {
  font-size: 22px;
  border: 2px solid black;
  color: #008080;
  font-weight: bold;
  align-items: center;
  justify-content: column;
  margin-bottom: 8px;
  border-radius: 50%;
}

.navbar {
  /* display: flex;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  border: 3px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  border: 2px solid; */
}

/* .navbarLink {
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: rgb(0, 0, 0);
} */

.workoutList {
  text-align: center;
}

.left {
  padding-left: 200px;
}

.logtable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border-width: 1px;
  border-color: #050404;
  border-style: solid;
  /* box-shadow : 0 0 0 1900px hsla(220,7%,18%,0.6),
           0 10px 30px -5px hsla(220,7%,18%,0.6); */
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  background-image: url("../public/lightgrey.jpeg");
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.content {
  background-color: rgba(245, 237, 237, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.addWorkoutInput {
  height: 25px;
  font-size: 14pt;
  margin-left: 5px;
}

.addWorkout {
  min-width: 50px;
  margin-right: 20px;
}

.addWorkoutInput {
  border-radius: 6px;
  border: 2px solid;
  height: 32px;
  width: 50%;
}

.collapasableList {
  /* opacity:10%; */
}

.repInput {
  border-radius: 6px;
  border: 2px solid;
}

.googleButton {
  display: flex;
  margin: auto;
  /* border-radius: 15px;
  border: 2px ; */
  padding: 15px 32px;
  font-size: 16px;
}

.workoutClass {
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.workoutImg {
  max-width: 100%;
  max-height: 100%;
}

.appHeader {
  font-size: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-family: "Sassy Frass", cursive;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Yuji Boku", serif;
  font-weight: 1000;
}

.modalPop {
  margin: 45px auto;
  padding: 15px 25px 25px;
  transition: box-shadow 2s;
  box-shadow: 0 0 0 1900px hsla(220, 7%, 18%, 0.6),
    0 10px 30px -5px hsla(220, 7%, 18%, 0.6);
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  /* opacity:90%; */
}

.menu-item {
}

.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #1888ff;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #5cabff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffff;
  padding: 16px;
}

.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

}
